[user]
	email = email@pezcuckow.com
	name = Pez Cuckow
[alias]
	goodpull = pull --rebase
	staged = diff --cached
	unstaged = diff
	both = diff HEAD
	ciam = commit -am
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
